<%- include("partials/header") %>

<div class="bg-gradient-primary" style="padding-top: 56px;">
    <div class="container py-5">

        <div class="card o-hidden border-0 shadow-lg">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">New Working Site</h1>
                                <hr>
                            </div>
                            <form class="user" action="/working-site" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="ws-name"
                                        name="workingSite[name]" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="ws-address-line-1"
                                        name="workingSite[addressLine]" placeholder="Address Line 1">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-4 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="ws-city"
                                            name="workingSite[city]" placeholder="City">
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control form-control-user" id="ws-State"
                                            name="workingSite[state]" placeholder="State">
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control form-control-user" id="ws-pincode"
                                            name="workingSite[pincode]" placeholder="pincode">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="ws-latitude"
                                            name="workingSite[coordinates][latitude]" placeholder="Latitude">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="ws-longitude"
                                            name="workingSite[coordinates][longitude]" placeholder="Longitude">
                                    </div>
                                </div>
                                <button href="#" class="btn btn-primary btn-user btn-block">
                                    Create Working Site
                                </button>
                            </form>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<%- include("partials/footer") %>