<%- include("partials/header",{showNavbarItems:showNavbarItems}) %>

<header class="bg-primary text-white">
	<div class="container">
		<div class="jumbotron bg-dark text-center shadow-lg">
			<h1 class='display-4'>Welcome to MGNREGA Attendance System</h1>
			<hr>
			<p class="lead">An automated attendance system for better workforce management and instilling transparency in
				the system using Deep Learning techniques to recognise and record the worker's presence at the Working site.
			</p>
		</div>
	</div>
	<hr>
	<div id="login-signup">
		<div class="container">
			<div class="row justify-content-center mb-2 text-warning">
				<h2>Continue as,</h2>
			</div>
			<div class="row justify-content-end text-center">
				<div class="col">
					<!-- <a class="btn btn-success" href="#" role="button">Authorised personnel</a> -->
					<div class="btn-group dropright">
						<button type="button" class="btn btn-dark dropdown-toggle shadow-lg" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							Authorised personnel
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/login/authorised-personnel">Login</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/register/authorised-personnel">Register</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/dashboard/authorised-personnel">Dashboard</a>
						</div>
					</div>
				</div>
				<div class="col">
					<!-- <a class="btn btn-success" href="#" role="button">Supervisor</a> -->
					<div class="btn-group dropright">
						<button type="button" class="btn btn-dark dropdown-toggle shadow-lg" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							Supervisor
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/login/supervisor">Login</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/register/supervisor">Register</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/dashboard/supervisor">Dashboard</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<section id="explore" class="bg-light">
	<div class="container">
		<div class="row">
			<div class="col">
				<h2 class="pb-4 text-center">Explore</h2>
				<div>
					<div class="row">
						<div class="col-sm-3">
							<div class="list-group" id="list-tab" role="tablist">
								<a class="list-group-item list-group-item-action active" id="list-working-sites-list"
									data-toggle="list" href="#list-working-sites" role="tab"
									aria-controls="working-sites">Working-Sites</a>
								<a class="list-group-item list-group-item-action" id="list-workers-list"
									data-toggle="list" href="#list-workers" role="tab"
									aria-controls="workers">Workers</a>
								<a class="list-group-item list-group-item-action" id="list-attendance-prediction-list"
									data-toggle="list" href="#list-attendance-prediction" role="tab"
									aria-controls="attendance-prediction">Attendance Prediction</a>
							</div>
						</div>
						<div class="col-sm-8">
							<div class="tab-content pt-4" id="nav-tabContent">
								<div class="tab-pane fade show active" id="list-working-sites" role="tabpanel"
									aria-labelledby="list-working-sites-list">Analytics and details of all current
									working sites here. Analytics and details of all current
									working sites here. Analytics and details of all current
									working sites here. Analytics and details of all current
									working sites here.</div>
								<div class="tab-pane fade" id="list-workers" role="tabpanel"
									aria-labelledby="list-workers-list">Analytics and details of all Workers here.</div>
								<div class="tab-pane fade" id="list-attendance-prediction" role="tabpanel"
									aria-labelledby="list-attendance-prediction-list">Attendance prediction stuff here
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="at-a-glance">
	<div class="container">
		<div class="row">
			<div class="col mb-5">
				<h2 class="pb-4 text-center">At a glance</h2>
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa
					exercitationem, in, quo totam.</p>
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa
					exercitationem, in, quo totam.</p>
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem
					dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa
					exercitationem, in, quo totam.</p>
			</div>
		</div>
	</div>
</section>

<section id="about" class="bg-light">
	<div class="container">
		<div class="row">
			<div class="col">
				<h2 class="pb-4 text-center">About</h2>
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore,
					expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda
					laborum vel, labore ut velit dignissimos.</p>
				<ul>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
				</ul>
			</div>
		</div>
	</div>
</section>


<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col mb-5">
				<h2 class="pb-4 text-center">Contact us</h2>
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa
					exercitationem, in, quo totam.</p>
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa
					exercitationem, in, quo totam.</p>
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem
					dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa
					exercitationem, in, quo totam.</p>
			</div>
		</div>
	</div>
</section>


<%- include("partials/footer") %>