/* #welcome-text{
    font-weight : 700;
} */
#login-signup{
    padding-top: 20px;
}

html, body{ height:100%; margin:0; }

.ensure-height{
    min-height: 350px;
}

body{ 
    display:flex; 
    flex-direction:column; 
}

footer{
    margin-top:auto; 
}

.top-space{
    margin-top: 5rem;
}