<%- include("partials/header") %>
<header>
    <div class="container text-center">
        <h1>Supervisor's dashboard!!</h1>
    </div>
</header>
<div id="sv-dashboard-items" class="mt-5">
    <div class="container">
        <div class="row justify-content-center mb-3 text-warning">
            <a class="btn btn-outline-primary" href="/worker/new">Register a Worker!</a>
        </div>
        <div class="row justify-content-center mb-3 text-warning">
            <a class="btn btn-outline-primary" href="#">Manage Workers</a>
        </div>
        <div class="row justify-content-center mb-3 text-warning">
            <a class="btn btn-outline-primary" href="#">Manage Working Site</a>
        </div>
    </div>
</div>
<%- include("partials/footer") %>