<%- include("partials/header") %>

<header>
    <div class="container text-center">
        <h1>Authorised Personnel's dashboard!!</h1>
    </div>
</header>
<div id="ap-dashboard-items" class="mt-5">
    <div class="container">
        <div class="row justify-content-center mb-3 text-warning">
            <a class="btn btn-outline-primary" href="/working-site/new">Create New Working Site</a>
        </div>
        <!-- <div class="row justify-content-center mb-3 text-warning">
            <a class="btn btn-outline-primary" href="#">Manage Supervisors</a>
        </div> -->
        <div class="row justify-content-center mb-3 text-warning">
            <a class="btn btn-outline-primary" href="/workers/1">Manage Workers</a>
        </div>
        <!-- <div class="row justify-content-center mb-3 text-warning">
            <a class="btn btn-outline-primary" href="#">Manage Working Site</a>
        </div> -->
    </div>
</div>

<%- include("partials/footer") %>