<%- include("partials/header") %>
<div class="container d-flex">
    <div class="row justify-content-center">
        <div class="col">
            <form class="form-inline top-space" action="" method="GET">
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Year</div>
                    </div>
                    <input type="text" class="form-control" id="analysis-date" placeholder="Year" name = "year">
                </div>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Month</div>
                    </div>
                    <input type="text" class="form-control" id="analysis-date" placeholder="Month" name = "month">
                </div>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Date</div>
                    </div>
                    <input type="text" class="form-control" id="analysis-date" placeholder="Date" name = "day">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </form>
        </div>
    </div>

</div>


<%- include("partials/footer") %>